header{
    width: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 15px;
}


ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

ul li {
    font-size: 25px;
}

ul li a {
    text-decoration: none;
}